<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <h2>VM Base</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>IP Address</th>
            <th>Action</th>
        </tr>
        {% for vm in vm_data %}
        <tr>
            <td>{{ vm.name }}</td>
            <td>{{ vm.ip }}</td>
            <td><button>Ping</button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>